<nav class="navbar bg-dark fixed-top navbar-expand-sm">
    <div class="container-fluid">
        <a class="navbar-brand text-light" href="/">quip</a>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 list-group-horizontal list-group">
            <li class="nav-item"><a href="/challenges/" class="nav-link text-light me-3">All Challenges</a></li>
            <li class="nav-item"><a href="/challenges/random/redirect" class="nav-link text-light me-3">Random</a></li>
        </ul>
    </div>
</nav>