{% extends "base.html" %}

{% block title %}{{ challenge.function_name }} - quip Challenge{% endblock title %}

{% block links %}
    <!-- Monaco -->
    <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/monaco-editor/dev/vs/editor/editor.main.css') }}">
{% endblock links %}

{% block content %}
    <div class="row p-3">
        <div class="col border border-dark rounded m-3 p-4 bg-light">
            <h1>QUIP -- initial demo</h1>
            <p>{{ challenge.description }}</p>
		    <div id="monaco-editor" style="width: 460px; height: 400px; border: 1px solid grey"></div>
            <p id="output"></p>
            <button onclick="main()">Run Python Code</button>
        </div>
        <div class="col border border-dark rounded m-3 p-4 bg-light" id="table-container">
            Run code to see output
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <!-- Pyodide -->
    <script src="https://cdn.jsdelivr.net/pyodide/v0.24.1/full/pyodide.js"></script>

    <!-- Monaco -->
    <script src="{{ url_for('static', filename='node_modules/monaco-editor/dev/vs/loader.js') }}"></script>
    <script>
        require.config({ paths: { vs: '/static/node_modules/monaco-editor/dev/vs' } });

        require(['vs/editor/editor.main'], function () {
            window.editor = monaco.editor.create(document.getElementById('monaco-editor'), {
                value: "def {{ challenge.function_name }}({% for arg in challenge.arguments %}{{arg}}{% if not loop.last%}, {% endif %}{% endfor %}):\n    return 1",
                language: 'python'
            });
        });
    </script>

    <script>
        // this is correct after jinja2 templating -- ignore squigglies
        // todo: disable awful red marks
        var functionName = {{ challenge.function_name | tojson }};
        var cases = {{ challenge.cases | tojson }};
    </script>
    <script src="{{ url_for('static', filename='index.js')}}" charset="utf-8"></script>
{% endblock scripts %}