{% extends 'base.html' %}


{% block title %}quip - Home{% endblock title %}


{% block content %}
    <h1 class="m-2">Welcome to quip!</h1>

    {% for challenge in challenges %}
        <div class="card d-inline-flex p-4 m-3">
            <div class="card-body">
                <h5 class="card-title">{{ challenge.function_name }}</h5>
                <p class="card-text" style="width: 15em;">{{ challenge.description }}</p>
                <a href="/challenges/{{ challenge.function_name }}" class="btn btn-primary">Go to challenge</a>
            </div>
        </div>
    {% endfor %}

{% endblock content %}